@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body{
    /* font-family: Helvetica, sans-serif;     */
    font-family: Futura, Trebuchet MS, Arial, sans-serif; 
}

.cert {
/* font-family: 'Fredoka One', cursive; */
font-size: 45px;
font-weight: bold;
color: #2d465a;
}

.participate {
/* font-family: 'Fredoka One', cursive; */
font-size: 35px;
font-weight: bold;
margin-top: -15px;
color: #2d465a;
}


.congrats{
margin-top: 120px;
font-size: 20px;
color: #435a6c;
}


.student-name{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 35px;
    font-weight: 500;
    color: rgba(122, 184, 0, 1);
    /* margin-top: 30px; */
    margin-top: 80px;
    margin-bottom: 10px;
}


.msg-body{
    font-size: 16px;
    font-weight: 400;
    margin-top: -7px;    
}

.unity-badge{
    width: 40%;
    position: relative;
    top: -103px;
    right: 70px;
}

.image-center img{
    position: absolute;
    width: 45%;
    display: block !important;
    margin: 0 auto;
    top: -400px;
    left: 350px;
}

.game-brand{
    position: relative;
    width: 30%;
    top: 110px;
    right: 90px;
}

.signatory{
margin-top: 120px;
}

.boos-name{
font-weight: 600;
font-size: 20px;

}

.boss-title{
 margin-top: -20px;
 font-size: 15px;  
    
}